<div class="form-container">
  <a routerLink="/login" id="goback">Go back</a>
  <img src="assets/images/account.svg" id="create">
  <h2>Join now</h2>

  <span class="error" *ngIf="error" [@fallIn]='state'>{{ error }}</span>

  <form #formData='ngForm' (ngSubmit)="onSubmit(formData)">
    <input type="text" placeholder="Name" (ngModel)="name" name="name" class="txt" required>
    <input type="text" placeholder="Email" (ngModel)="email" name="email" class="txt" required>
    <input type="password" placeholder="Password" (ngModel)="password" name="password" class="txt" required>

    <button type="submit" id="signup" [disabled]="!formData.valid" class="basic-btn">Create my account</button>
  </form>
</div>